.articleList .public {
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.articleList .inner {
    padding: 1rem;
    position: relative;
}
.articleList .inner .time-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}
.articleList .inner .time-btn .icon-time.on{
    color: red;
}
.articleGroup .articleItem {
    padding: 0.5rem;
}
.articleGroup .articleItem + .articleItem {
	border-top: 1px #ccc dashed;
}
.articleGroup .articleName {
    font-size: 1.4rem;
}
.articleGroup .articleAuthor .ant-avatar  {
    margin-top: 0px;
}
.articleGroup .articleAuthor {
    line-height: 32px;
}
.articleGroup .articleAuthor>span{
    margin: 0.5rem;
}
.articleGroup .articleDescribe {
    font-size: 1.2rem;
}