.header {
    height: 48px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
}
.header .public{
    display: flex;
}
.header nav {
    flex: 1;
}
.header .logo {
    overflow: hidden;
    flex: 0 46px;
}
.header .logo img{
    height: 40px;
    float: left;
    margin: 4px 0px;
}
.header .user-header{
    flex: 0 200px;
}
.header .ant-dropdown-trigger {
    line-height: 48px;
    float: right;
    display: inline-block;
    max-width: 100%;
}
.user-header .login {
    line-height: 48px;
    text-align: right;
    cursor: pointer;
}
.user-header .login:hover{
    color: #f60;
}
.user-header .ant-menu-horizontal {
    border-bottom: none;
}
.ant-avatar {
    vertical-align: top;
    margin-top: 8px;
    margin-right: 0.2rem;
}
.login-form .ant-btn-primary,
.login-register .ant-btn-primary {
    display: block;
    width: 100%;
}
.login-form .login-form-forgot {
    float: right;
}
.ant-row.ant-form-item {
   margin-bottom: 12px;
}