.opinion .public {
	margin: 1rem auto;
	padding: 1rem;
	border-radius: 0.2rem;
	background-color: #fff;
}
.opinion .opinionForm {
	margin-top: 1rem;
}
.opinion .ant-card-head {
    padding: 0 1rem;
}
.opinion .ant-card-body{
    padding: 1rem;
}
.opinion .opinionList {
	margin-top: 1rem;
}