.articleDetail .public {
    margin: 1rem auto;
    overflow: hidden;
}
.articleDetail .inner .article-box {
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.2rem;
	margin-bottom: 1rem;
}
.article-box.w-e-text {
	overflow: hidden;
}
.article-box .articleName{
	font-size: 1.4rem;
	text-align: center;
}
.article-box .articleDes {
	text-align: center;
}
.article-box .articleDes .ant-avatar {
	margin-top: 0px;
}
.article-box .articleDes {
	line-height: 32px;
}
.article-box .articleDes>span{
	margin: 0.5rem;
}
.article-box .articleDes .browses {
	font-size: 12px;
}
.article-box .categories .ant-btn{
	margin-right: 0.5rem;
}
.article-rel {
	display: flex;
}
.article-rel .article-rel-left {
	flex: 1;
	padding: 1rem;
	border-radius: 0.2rem;
	background-color: #fff;
}
.article-rel .article-rel-right {
	flex: 0 300px;
	margin-left: 1rem;
	padding: 1rem;
	border-radius: 0.2rem;
	background-color: #fff;
}