.articleDetail .public {
    margin: 1rem auto;
    background-color: #fff;
    overflow: hidden;
    min-height: 40rem;
    border-radius: 0.2rem;
}
.articleDetail .inner {
	padding: 1rem;
}
.article-box.w-e-text {
	overflow: hidden;
}
.article-box .articleName{
	font-size: 1.4rem;
	text-align: center;
}
.article-box .articleDes {
	text-align: center;
}
.article-box .articleDes .ant-avatar {
	margin-top: 0px;
}
.article-box .articleDes {
	line-height: 32px;
}
.article-box .articleDes>span{
	margin: 0.5rem;
}
.article-box .articleDes .browses {
	font-size: 12px;
}
.article-box .categories .ant-btn{
	margin-right: 0.5rem;
}